<a href="https://colab.research.google.com/github/frahlg/MECH550N/blob/master/import_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

In [0]:
df = pd.read_excel('https://github.com/frahlg/MECH550N/blob/master/Data_analysis/data/dataset1/out_0.xlsx?raw=true', index_col=0)

In [5]:
df

                          Date      Time  ...  Unnamed: 149  Unnamed: 150
datetime                                  ...
2018-10-23 19:00:50 2018-10-23  19:00:50  ...           NaN           NaN
2018-10-23 19:01:50 2018-10-23  19:01:50  ...           NaN           NaN
2018-10-23 19:02:50 2018-10-23  19:02:50  ...           NaN           NaN
2018-10-23 19:03:50 2018-10-23  19:03:50  ...           NaN           NaN
2018-10-23 19:04:50 2018-10-23  19:04:50  ...           NaN           NaN
...                        ...       ...  ...           ...           ...
2018-11-10 10:28:33 2018-11-10  10:28:33  ...           NaN           NaN
2018-11-10 10:29:33 2018-11-10  10:29:33  ...           NaN           NaN
2018-11-10 10:30:33 2018-11-10  10:30:33  ...           NaN           NaN
2018-11-10 10:31:33 2018-11-10  10:31:33  ...           NaN           NaN
2018-11-10 10:32:33 2018-11-10  10:32:33  ...           NaN           NaN

[25781 rows x 150 columns]